<head>
    <title>"Moment of Zen"</title>
</head>

<body>
    <h1>@Html.ActionLink("Generate a new Moment of Zen", "Generate")</h1>

    <h3><a href="@ViewBag.VideoUrl" target="_blank">Your Moment of Zen</a></h3>
</body>