<head>
    <title>"Moment of Zen"</title>
</head>

<body>
    <h1 id="Generate">@Html.ActionLink("Generate a new Moment of Zen", "Generate")</h1>

    <iframe id="MomentOfZen" type="text/html" src="@ViewBag.VideoUrl" frameborder="0" allowfullscreen></iframe>
</body>