<head>
    <title>"Moment of Zen"</title>
</head>

<body>
    <h1>@Html.ActionLink("Generate a new Moment of Zen", "Generate")</h1>

    <iframe title="MomentOfZen" src="@ViewBag.VideoUrl"></iframe>
</body>